@model ShopBy_Aisle.Models.MasterItem

@{
    ViewData["Title"] = "Edit";
}

<br /><br />
@if (ViewBag.pg == "sl")
{
    <h4>EDIT SHOPPING LIST ITEM</h4>
}
else if(ViewBag.pg == "ml")
{
    <h5>EDIT FAVORITE ITEM</h5>
}
<hr />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">

    // If Storevalue is blank then disable the AisleID column.
        function getAisle() {
        var storeval = $("#storeID").val();
        var categoryval = $("#catID").val();
        if ( storeval === "Select Store" || categoryval === "Select Category") {
            return;
        }

        // If Storevalue is blank then disable the AisleID column.
        if (storeval == "Select Store") {
            document.getElementById("aisleName").readOnly = true;
        } else {
            document.getElementById("aisleName").readOnly = false;
        }

        selectedValues = { storeID: $("#storeID").val(), catID: $("#catID").val() };
        $.ajax({
            url: '/MasterItems/GetAisleData',
            type: 'POST',
            dataType: 'json',
            data: { JsonStr: JSON.stringify(selectedValues) },
            success: function (data) {
                if (data.success) {
                    document.getElementById("aisleID").value = data.aisleID;
                    document.getElementById("aisleName").value = data.aisleName;

                    // Display msg if we find the Aisle data
                    if (data.aisleName == "" || data.aisleName == null) {
                        img_tag = "<img src='/Images/help.gif' width='60' height='60'/>";
                        ty_tag = "<img src='/Images/thankyou.gif' width='70' height='70'/>";
                        document.getElementById("aisle_validate").innerHTML ="Sorry, we do not have an Aisle for this item. If you know please update & "+ img_tag +"other shoppers." ;
                        document.getElementById("aisle_validate").style = "color: brown ;"
                    } else {
                        img_tag = "<img src='/Images/happy.gif' width='60' height='60'/>";
                        document.getElementById("aisle_validate").innerHTML = img_tag + "Yay! we found the Aisle for you. Enjoy shopping.";
                        document.getElementById("aisle_validate").style = "color:blue;"
                    }
                }
            }
        })
    };

    // Validate the FORM data
    function validateForm()
    {
        console.log("invalid cat");
        var x = document.forms["myform"]["ItemName"].value;
        if (x == "") {
            document.getElementById("item_validate").innerHTML = "Item Name cannot be blank.";
            return false;
        } else {
            document.getElementById("item_validate").innerHTML = "";
        }

        var y = document.forms["myform"]["CategoryID"].value;
        if (y === "Select Category" || y === 0) {
            document.getElementById("cat_validate").innerHTML = "Category cannot be blank.";
            return false;
        } else {
            document.getElementById("cat_validate").innerHTML = "";
        }
    }

</script>

@*============Form to Edit Item Data========================*@
<div class="row">
    <div class="col-md-4">
        <form name="myform" asp-action="Edit" onsubmit="return validateForm()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <span class="text-danger">*</span><label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger" id="item_validate"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span><label asp-for="CategoryID" class="control-label"></label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID" id="catID" onchange="getAisle()"></select>
                <span asp-validation-for="CategoryID" class="text-danger" id="cat_validate"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreID" class="control-label"></label>
                <select asp-for="StoreID" class="form-control" asp-items="ViewBag.StoreID" onchange="getAisle()" id="storeID">
                 <option>Select Store</option>
                </select>
                <span asp-validation-for="StoreID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aisle.Name" class="control-label"></label>
                <input asp-for="Aisle.Name" class="form-control" id="aisleName" />
                <span id="aisle_validate"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" id="qty" />
                <span asp-validation-for="Aisle.Name" id="aisleName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="form-group" @ViewBag.sl_hidden>
                    <label asp-for="AddToShoppingList" class="control-label"></label>
                    @if (@ViewBag.pg == "sl")
                    {
                        <input type="checkbox" class="control-label" asp-for="AddToShoppingList" checked />
                    }
                    else
                    {
                        <input type="checkbox" class="control-label" asp-for="AddToShoppingList" />
                    }
                </div>
            </div>

            <div class="form-group" @ViewBag.ml_hidden>
                <label asp-for="MasterList" class="control-label">Add to Favorite Items</label>
                @if (@ViewBag.pg == "ml")
                {
                    <input type="checkbox" asp-for="MasterList" class="control-label" checked />
                }
                else
                {
                    <input type="checkbox" asp-for="MasterList" class="control-label" />
                }
            </div>
            <input asp-for="AisleID" id="aisleID" class="form-control" hidden />
            <div class="form-group">
                <input asp-for="UserName" class="form-control" id="username" hidden />
                <input id="pg" name="pg" value="@ViewBag.pg" hidden />
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

