@model IEnumerable<ShopBy_Aisle.Models.MasterItem>

@{
    ViewData["Title"] = "MasterItems";
}
<head>
    <style>
    </style>
</head>
<h3>Favorite Items</h3>
<hr />
<div class="search-box">
    <form method="get" action="/MasterItems/FindItem">
        <input type="text" placeholder="Search an item" name="searchTerm" />
        @*<a href="/MasterItems/FindItem">
            <img src="~/Images/Magnifyingglass1.png" />
        </a>*@
        <input type="submit" value="search" />
    </form>
</div>
<br />
<br />
<p>
    @* <a asp-action="Create">Add New Item</a>*@
</p>
<table class="table">
    @*<thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ItemName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PreferredStore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aisle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddToShoppingList)
                </th>
                <th></th>
            </tr>
        </thead>*@
    @*<tbody>*@

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)<br />
                Category : @Html.DisplayFor(modelItem => item.Category.Name)<br />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredStore.Alias)<br />
                Aisle: @Html.DisplayFor(modelItem => item.Aisle.Name)

            </td>
            @*<td>
                    Category :@Html.DisplayFor(modelItem => item.Category.Name)<br />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreferredStore.Alias)
                </td>
                <td>
                    Aisle :@Html.DisplayFor(modelItem => item.Aisle.Name)
                </td>*@
            <td>
                <input type="checkbox" checked=@item.AddToShoppingList />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.ID">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }
    @* </tbody>*@
</table>
<script>
    function DisplayAdd() {
        var var_newItemDiv = document.getElementById("newItemDiv");
        if (var_newItemDiv.hidden == true) {
            var_newItemDiv.hidden = false;
        }
        else
            var_newItemDiv.hidden = true;

    }
</script>

    <input type="button" onclick="DisplayAdd()" class="btn btn-primary btn-lg btn-block" value="Add New Item"  />

<br />
<br />
<section>
    <div class="form-group" id="newItemDiv" hidden>
        @await Html.PartialAsync("CreatePartial", @ViewData["Item"])
    </div>
</section>
